.canvas {
    border:1px solid black;
}
.palette{
    display:flex;
    justify-content: space-evenly;
    border: 1px solid black;

    &__color {
        width:20px;
        height:20px;
        border:1px solid black;

        &:hover {
            cursor: pointer;
        }
    }
}